body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;
}
figure {
  text-align: center;
}
nav a {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #a9a9a9;
}
figcaption {
  text-align: center;
  font-size: 11px;
}
#featured-property p {
  width: 800px;
  text-align: center;
}
section #featured-property {
  text-align: center;
}
div {
  float: left;
  text-align: center;
  width: 25%;
  background-color: #00BCE1;
}
